<h1 class="nav-title white">Who We Are</h1>
<h2 class="title white">Our Branch Network</h2>
<div class="growing-underline-on-load"></div>
<div class="map">
  <div class="row">
    <div class="d-inline-block col-md-4 pl-0 py-3">
      <div class="mb-5">
        <p class="graph-title mb-0">8</p>
        <p>The IoD had eight branches throughout the country.</p>
      </div>
      <div class="mb-5">
        <p class="graph-title mb-0">208</p>
        <p>In 2018, the branches hosted 208 events.</p>
      </div>
      <div class="mb-5">
        <p class="graph-title mb-0">9,071</p>
        <p>With a total of 9,071 attendees.</p>
      </div>
      <div class="mb-5">
        <p class="graph-title mb-0">65</p>
        <p>members are based overseas.</p>
      </div>
    </div>
    <img class="map-image" src='/../../../assets/3_Our branch network/NZ-branch-map.png' alt="map with membership stats" />
  </div>
</div>
