<h1 class="nav-title white">Who We Are</h1>
<h2 class="title white">Our branch network</h2>
<div class="growing-underline-on-load"></div>
<div class="map">
  <div class="row">
    <div class="d-inline-block col-md-4 pl-0 py-3">
      <div class="mb-5">
        <ng2-odometer class="graph-title mb-0" style="font-family: 'IodSerifMed', serif;"[number]="8" [config]="{ }"></ng2-odometer>
        <p>The IoD has eight branches throughout the country</p>
      </div>
      <div class="mb-5">
        <ng2-odometer class="graph-title mb-0" style="font-family: 'IodSerifMed', serif;"[number]="215" [config]="{ }"></ng2-odometer>
        <p>In 2018, the branches hosted 215 events</p>
      </div>
      <div class="mb-5">
        <ng2-odometer class="graph-title mb-0" style="font-family: 'IodSerifMed', serif;"[number]="9071" [config]="{ }"></ng2-odometer>
        <p>total members</p>
      </div>
      <div class="mb-5">
        <ng2-odometer class="graph-title mb-0" style="font-family: 'IodSerifMed', serif;"[number]="65" [config]="{ }"></ng2-odometer>
        <p>members are based overseas</p>
      </div>
    </div>
  </div>
</div>
