@import '/../../../../styles.scss';

:host {
  color: white;
}

.map {
  background-color: $brand-blue;
  width: 100%;
  overflow: hidden;
  @media only screen and (min-width: 601px) {
    background-image: url('/../assets/3_Our branch network/NZ-branch-map.png');
    height: 1000px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  @media only screen and (max-width: 600px) {
    background-image: url('/../assets/3_Our branch network/NZ-branch-map.png');
    height: 700px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 500px;
    padding-right: 200px;
    background-position-y: center
  }
  @media only screen and (max-width: 400px) {
    background-image: url('/../assets/3_Our branch network/NZ-branch-map.png');
    height: 200px;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 600px;
    padding-right: 140px;
    background-position-y: center
  }
}

.growing-underline-on-load {
  width: 0px;
  height: $spacer-x-lg;
  border-top: 2px white solid;
  animation: ourbranch 4s forwards;

  @keyframes ourbranch {
    from { width: 0; }
    to { width: 355px; }
  }
}

.container {
  height: 100%
}
