<h1 class="nav-title blue">Who We Are</h1>
<h2 class="title black">Raising standards</h2>
<div class="row hero-box-image">
  <div class="clipped-box col-6 p-0 d-inline-block">
    <div class="lone-text">
      <p class="block-subtitle blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <h3 class="body-title underline black">lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="row">
    <div class="col-md-6 p-0">
      <h3 class="body-title underline black d-inline-block">lorem</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-6 pr-0 pl-3 d-inline-block">
      <img src='/../../../assets/9_raising standards/Table.svg' alt='further statistics displayed in a table' />
    </div>
  </div>
  <div class="row">
    <h3 class="body-title blue">Creating a more personalised approach</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="row">
    <div class="col-md-6 p-0">
      <h3 class="body-title blue">Chartered Membership</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <ul class="charterd-membership-list">
        <li>asdfasdf</li>
        <li>asdfasdf</li>
        <li>asdfasdf</li>
        <li>asdfasdf</li>
        <li>asdfasdf</li>
        <li>asdfasdf</li>
        <li>asdfasdf</li>
      </ul>
    </div>
    <div class="col-md-6 pr-0 pl-3 d-inline-block">
      <img src='/../../../assets/9_raising standards/bar-graph.svg' alt='further statistics displayed in a bar graph' />
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="row three-column">
    <div class="grey-column-block">
      <h3 class="body-title blue">2018 New Chartered Members</h3>
      <p>In 2019, we added 173 new Chartered Members.</p>
    </div>
    <div class="grey-column-block">
      <h3 class="body-title blue">2018 asdf</h3>
      <ul class="chartered-fellows-list unbulleted">
        <li>Patrick Strange</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>Patrick Strange</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
      </ul>
    </div>
    <div class="grey-column-block">
      <h3 class="body-title blue">2018 asdf</h3>
      <ul class="unbulleted">
        <li>asdf asdf</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 para-membership">
      <h3 class="body-title black underline">BoardWide membership</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-6 para-maori">
      <h3 class="body-title black underline">Working with</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="row">
    <div class="members-list-container col-12 p-0">
      <div class="members-list-textbox">
        <h3 class="body-title white underline text-center">Current BoardWide members</h3>
        <ul class="boardwide-members-list unbulleted white">
          <li>3R Group Limited</li>
          <li>Central Primary Health Organisation Limited</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
          <li>asdf asdf</li>
        </ul>
      </div>
    </div>
  </div>
</div>
