<h1 class="nav-title blue">Who We Are</h1>
<h2 class="title black">Raising standards</h2>
<div class="row">
  <div class="col-6 p-0 d-inline-block">
    <p class="block-subtitle blue px-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-6 p-0 d-inline-block">
    <img class="w-100" src='http://www.placepuppy.net/400/250' alt='' />
  </div>
</div>
<div>
  <div class="row">
    <h3 class="body-title underline black">lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="row">
    <div class="col-6 p-0">
      <h3 class="body-title underline black">lorem</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-6 p-0">
      <img src='http://www.placepuppy.net/400/250' alt='further statistics displayed on a map' />
    </div>
  </div>
  <div class="row">
    <h3 class="body-title blue">lorem</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="row">
    <img src='http://www.placepuppy.net/400/250' alt='further statistics displayed on a map' />
    <h3 class="body-title blue">Float image right</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="row">
    <div class="col-4">
      <h3 class="body-title blue">2018 New Chartered Members</h3>
      <p>In 2019, we added 173 new Chartered Members.</p>
    </div>
    <div class="col-4">
      <h3 class="body-title blue">2018 asdf</h3>
      <ul class="chartered-fellows-list">
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
      </ul>
    </div>
    <div class="col-4">
      <h3 class="body-title blue">2018 asdf</h3>
      <li>asdf asdf</li>
    </div>
  </div>
  <div class="row">
    <div class="col-6 p-0">
      <h3 class="body-title black underline">Float image right</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-6 p-0">
      <h3 class="body-title black underline">Float image right</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      <h3 class="body-title white underline text-center">Current BoardWide members</h3>
      <ul class="boardwide-members-list">
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
        <li>asdf asdf</li>
      </ul>
    </div>
  </div>
</div>
