<h1 class="nav-title blue">Our Year</h1>
<h2 class="title black">Raising standards</h2>
<div class="growing-underline-on-load"></div>
<div class="row hero-box-image">
  <div class="clipped-box col-6 p-0 d-inline-block">
    <div class="lone-text">
      <p class="block-subtitle blue raising-head-quote">The refresh of our flagship Company Directors’ Course was completed in 2018.</p>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-md-12 p-0">
      <h3 class="body-title underline black">Company Directors’ Course refresh</h3>
      <p>The refresh of our flagship Company Directors’ Course was completed in 2018. The review focused on continuing to improve attendee experience and currency of content. The content was updated to make it more aligned with current governance challenges. Additional simulated board meetings were added to expand attendees’ hands-on governance practice and help them have more in-depth board experience. New technology has been added to bring the company case study to life and give the participants a more immersive experience. Personal coaching sessions and discussion of further governance pathways have also been added to the programme to assist attendees to focus on ongoing self-development.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 p-0">
      <h3 class="body-title underline black d-inline-block">Continuing Professional Development (CPD)</h3>
      <p>Members continued to show excellent commitment to completing their Continuing Professional Development (CPD) and are taking advantage of the wide range of activities that help develop their skills and ensure they are up-to-date on developments in various governance issues. This includes training that is related to governance as part of other professional bodies.</p>
      <p>During 2018 we developed a series of three webcasts based around the three <i>What Matters</i> themes: Shareholder and Stakeholder Engagement, Culture and Ethics, and A World of Data. Members from around the country took advantage of watching the webcasts live or followed up by watching the recorded versions. This has been particularly good for members in remote areas in terms of engagement and providing a learning option that helps them achieve their CPD requirement.</p>
    </div>
    <div class="col-md-6 pr-0 pl-3 d-inline-block">
      <img src='/../../../assets/9_raising standards/Table.svg' alt='further statistics displayed in a table' />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-0">
      <h3 class="body-title blue">Creating a more personalised approach</h3>
      <p>In a world where members are increasingly bombarded by information, it is becoming more and more important that what we offer them is relevant and personalised. We recognise that we have a diverse membership with different needs. With that in mind, we have created a segmentation model to customise the experience that each member receives from us. This will form part of our digital transformation which starts with our new website and will provide our members with a more personalised online experience, as well as help us ensure that all communications are targeted and relevant.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 p-0">
      <h3 class="body-title blue">Chartered Membership</h3>
      <p>The introduction of the Chartered Membership pathway in 2014 has continued each successive year to raise standards and take the professionalism of members to a new level. The pathway introduced a membership structure with seven different categories based on expertise and experience namely:  </p>
      <ul class="charterd-membership-list">
        <li>Associate </li>
        <li>Member</li>
        <li>Chartered Member</li>
        <li>Chartered Fellow </li>
        <li>Distinguished Fellow</li>
        <li>Retired Fellow </li>
        <li>Retired</li>
      </ul>
    </div>
    <div class="col-md-6 pr-0 pl-3 d-inline-block">
      <img src='/../../../assets/9_raising standards/bar-graph.svg' alt='further statistics displayed in a bar graph' />
    </div>
    <p>Chartered Membership required CPD for all member categories apart from Associate, Distinguished Fellow, Retired Fellow and Retired. The Chartered Membership pathway offers directors who are committed to professionalism meaningful recognition for their experience and expertise.</p>
  </div>
  <div class="row three-column">
    <div class="grey-column-block">
      <h3 class="body-title blue">2018 New Chartered Members</h3>
      <p>In 2018, there were 173 new Chartered Members.</p>
    </div>
    <div class="grey-column-block">
      <h3 class="body-title blue">2018 New Chartered Fellows</h3>
      <ul class="chartered-fellows-list unbulleted">
        <li>Matthew Boyd</li>
        <li>Des Brennan</li>
        <li>Sarah Brown</li>
        <li>Gill Cox</li>
        <li>Tony De Farias</li>
        <li>Charles Finny</li>
        <li>Jane Freeman</li>
        <li>George Green</li>
        <li>John Harvey</li>
        <li>Chris Laurie</li>
        <li>Tim Mepham</li>
        <li>Graeme Milne</li>
        <li>Guy Nelson</li>
        <li>Sue Sheldon</li>
        <li>Justine Smyth</li>
        <li>Patrick Strange</li>
        <li>Mark Tume</li>
        <li>Graeme Wong</li>
        <li>Peter Young</li>
      </ul>
    </div>
    <div class="grey-column-block">
      <h3 class="body-title blue">2018 New Distinguished Fellows</h3>
      <ul class="unbulleted">
        <li>Bill Baylis</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 para-membership">
      <h3 class="body-title black underline">BoardWide membership</h3>
      <p>We encourage organisations to demonstrate their commitment to governance best-practice by becoming BoardWide members. BoardWide is our corporate membership option. The number of participating organisations rose to 68 in 2018, up from 53 in the previous year.</p>
      <p>To qualify, an organisation must have four or more board directors, all of whom commit to be members of the IoD. CEOs and senior managers can also be included in BoardWide membership.</p>
    </div>
    <div class="col-md-6 para-maori">
      <h3 class="body-title black underline">Working with Māori and Pacific organisations </h3>
      <p>Working with Te Puni Kōkiri, we provided governance training to 11 iwi boards in 2018 across the country. We also delivered four governance programmes in the Pacific Islands and have built strong relationships with clients. </p>
    </div>
  </div>
  <div class="row">
    <div class="members-list-container col-12 p-0">
      <div class="members-list-textbox">
        <h3 class="body-title white underline text-center">Current BoardWide members</h3>
        <ul class="boardwide-members-list unbulleted white">
          <li>3R Group Limited</li>
          <li>Abano Healthcare Group Limited</li>
<li>Accordia Asset Management Limited</li>
<li>Air New Zealand Limited</li>
<li>Bay of Plenty Regional Council</li>
<li>BioGro New Zealand Limited</li>
<li>Bluelab Corporation Limited</li>
<li>Braemar Hospital Limited</li>
<li>BRANZ Limited</li>
<li>The Building Officials Institute of New Zealand Incorporated</li>
<li>Carrfields Limited</li>
<li>Central Primary Health Organisation Limited</li>
<li>Christchurch NZ Limited</li>
<li>CKL Surveys Limited</li>
<li>Competenz</li>
<li>EBOS Group Limited</li>
<li>Federated Farmers of New Zealand Incorporated</li>
<li>Fisher & Paykel Healthcare Corporation Limited</li>
<li>Foodstuffs South Island Limited</li>
<li>Grassroots Trust Limited</li>
<li>Hamilton Hardware Retail Limited</li>
<li>Hobson Wealth Partners Limited</li>
<li>Independent Living Service Trust</li>
<li>Mahaanui Kurataiao Limited</li>
<li>Manawanui In Charge Limited</li>
<li>Mangere East Family Service Centre Incorporated</li>
<li>Marlborough Grape Producers</li>
<li>Co-operative Limited</li>
<li>Master Plumbers Gasfitters & Drainlayers NZ Incorporated</li>
<li>Morrison Low Holdings Limited</li>
<li>New Zealand School Trustees Association Incorporated</li>
<li>Ngāti Rārua Ātiawa Iwi Trust Board</li>
<li>Ngāti Whakaue Assets Trust</li>
<li>New Zealand National Fieldays Society Incorporated</li>
<li>NZCU Baywide</li>
<li>NZCU Employees</li>
<li>New Zealand Trade and Enterprise</li>
<li>Online Education Limited</li>
<li>Pasifika Futures Limited</li>
<li>PBO Group Limited</li>
<li>Pegasus Health (Charitable) Limited</li>
<li>Pohlen Hospital Trust Board</li>
<li>Police & Families Credit Union</li>
<li>Rātā Foundation</li>
<li>Red Badge Group Limited</li>
<li>Rider Levett Bucknall Auckland Limited</li>
<li>Selwyn District Council</li>
<li>Site Safe New Zealand Incorporated</li>
<li>Skyline Enterprises Limited</li>
<li>SmartPay Holdings Limited</li>
<li>South Seas Healthcare Trust</li>
<li>Super Liquor Holdings Limited</li>
<li>Te Hau Ora O Ngāpuhi</li>
<li>Te Korowai o Ngāruahine Trust</li>
<li>Te Rūnanga A Rangitāne O Wairau</li>
<li>he Learning Wave Limited</li>
<li>The Salvation Army New Zealand, Fiji and Tonga Territory</li>
<li>The Selwyn Foundation</li>
<li>Theta Systems Limited</li>
<li>Thomsons Timber Supplies Limited</li>
<li>Tourism Bay of Plenty</li>
<li>TSB Community Trust</li>
<li>Vector Limited</li>
<li>Vetora Limited</li>
<li>Victoria University of Wellington</li>
<li>Waiotahi Contractors Limited</li>
<li>Wintec Student Residence Trust</li>
<li>Youngman Richardson & Co Limited</li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div style="padding-bottom:20px;"></div>
