<h1 class="nav-title blue">Our Year</h1>
<h2 class="title black">Inspire and equip people</h2>
<div class="growing-underline-on-load"></div>
<div class="row hero-box-image">
  <div class="clipped-box col-6 p-0 d-inline-block">
    <div class="lone-text">
      <p class="block-subtitle blue inspire-head-quote">Part of the IoD’s strategy is to ensure good representation of New&nbsp;Zealand’s most senior directors.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Leading Directors</h3>
    <p>Part of the IoD’s strategy is to ensure good representation of New Zealand’s most senior directors. Leading Directors are a group that are generous at giving back, such as by making themselves available to present at events and being mentors on our programmes. </p>
    <p>While leading directors are keen to give back to the profession, they also value the opportunity to engage in some peer-to-peer interaction in relation to large board environments. For this reason we have a small number of opportunities for this group to meet each year. </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Future Directors </h3>
    <p>Our Future Directors programme was developed to build a ‘pipeline’ of talent by encouraging senior executives into governance earlier. Future Directors observe and learn through participation on a board for 12 to 18 months, while giving the host company exposure to talent and the benefits a different perspective can bring.</p>
    <p>Founded by Sir Stephen Tindall (The Warehouse/Tindall Foundation), Michael Stiassny (past IoD President) and Des Hunt (NZ Shareholders Association) in 2013, it has since become a key programme for IoD to help increase the number, quality and diversity of the director pipeline. In 2016, Future Directors was extended to State Sector boards allowing them and committees to benefit from the programme, as well as develop a larger and more diverse pipeline.</p>
    <p>The total number of Future Directors appointed since the programme’s inception is now 51. There are currently over 700 applicants who have registered interest in being considered for the programme on the Future Directors database – 44% of these applicants are female, and 50% of them are up to 40 years of age. </p>
    <p>In 2018, the IoD hosted a Future Directors’ networking event in Auckland attended by host board members, their future directors, search agencies and the founders. One of the founders Sir Stephen Tindall provided the following positive feedback to IoD: </p>
  </div>
</div>
<div style="padding:8px;"></div>
<div class="inspire-details row">
  <div class="clipped-box blue-box-left p-0 d-inline-block inspire-blue-box">
    <div>
      <h3 class="body-title white">In 2018, 13 Future Directors were appointed to the following host boards:</h3>
      <ul class="white unbulleted">
        <li>AgResearch – Natasha Tere</li>
        <li>Chiefs Rugby Club – Sharleen Nathan</li>
        <li>Fisher & Paykel Healthcare – Claudia Wyss</li>
        <li>Lotto NZ – Jessica Smith</li>
        <li>Mercury Energy – Anna Lissaman</li>
        <li>Metservice – Kim Dirks</li>
        <li>National Advisory Council on Employment of Women (NACEW) – Ariana Paul</li>
        <li>Northpower – Rangamarie Price</li>
        <li>Ports of Auckland – Siobhan Mckenna</li>
        <li>Scales Corporation – Teresa Steel-Rika</li>
        <li>Service IQ – Kirikaiahi Mahutariki</li>
        <li>Wellington Museums Trust – John Paul Tocker</li>
        <li>Zealandia – Glen Scanlon</li>
      </ul>
    </div>
  </div>
  <div class="clipped-box grey-box-right p-0 d-inline-flex align-items-center inspire-quote">
    <div class="faces-of-governance-quote-text">
      <p class="block-subtitle"> “I find it very satisfying that you and your team at the IoD continue to support our dreams of better, more diverse governance and push this very hard for more future directors. What you are doing is very much appreciated.”</p>
      <p class="nav-title black">Sir Stephen Tindall</p>
    </div>
  </div>
</div>
<div class="row" style="padding-top:10px; padding-bottom:10px;">
  <div class="col-md-12 p-0">
    <img style="padding-bottom: 5px;" class="w-100" src='/../../../assets/10_Inspire and Equip/future-directors-pic.png' alt='The future directors of IoD standing together' />
    <p class="caption">(from left), Future Directors founders Des Hunt, Sir Stephen Tindall and Michael Stiassny, at the Future Directors’ networking event 28 November 2018.</p>
  </div>
</div>
<div class="row">
  <div>
    <div class="clipped-box blue-box-right mentee-list-box">
      <div class="text-center">
        <h3 class="body-title white underline">Mentees for 2018-19 cohort</h3>
        <ul class="unbulleted white">
          <li>Elle Archer</li>
          <li>Pamela Bell</li>
          <li>Tracey Bridges</li>
          <li>Angela Bull</li>
          <li>Joanna Davidson</li>
          <li>Toni Ferrier</li>
          <li>Dean Fraser</li>
          <li>Jo Goodhew</li>
          <li>Michelle Henderson</li>
          <li>Sarah Park</li>
          <li>Cathy Parker</li>
          <li>Jignasha Patel</li>
          <li>Hilary Poole</li>
          <li>Jana Rangooni</li>
          <li>Amanda Santos</li>
          <li>Scott Tambisari</li>
          <li>Melanie Templeton</li>
          <li>Judith Thompson</li>
          <li>David Tse</li>
          <li>Louise Ward</li>
        </ul>
      </div>
    </div>
    <h3 class="body-title underline black">Mentoring for Diversity </h3>
    <p>In 2018, Mentoring for Diversity entered its seventh year. The programme promotes diversity in its wider sense including ethnicity, age, skills and experience in addition to gender. The Mentoring for Diversity programme aims to:
</p>
<ul>
  <li>enhance mentees’ governance knowledge and skills in order to assist them in achieving director appointments, particularly in large company environments</li>
  <li>increase mentees’ understanding of how listed and large company boards work</li>
  <li>enhance the connections between senior directors and chairs, adding to the diversity of the director pool and making board-ready talent more visible.</li>
</ul>
    <p>In 2018, 20 mentees were selected from 76 applicants across New Zealand. They were paired with some of IoD’s top chairs and leading directors who continue to give their time and support to help develop governance capability of their mentees. The programme runs from July to June each year with a ceremony held in June to congratulate outgoing mentees on their completion of the programme and welcome the new cohort.</p>
      <p>The 2018-19 cohort is made up of 3 males and 17 females, with ages spanning 37 to 61 years, and across a wide range of industries including construction, innovation, law, finance, health, engineering, agriculture, aviation, digital, technology, communications, property and infrastructure.</p>
<p>This year we also measured the impact of the programme on previous mentees’ governance careers. We invited 110 mentees across 5 cohorts between 2012 and 2017 to respond to a survey and had 70 mentees respond. Key findings were:</p>
<ul>
  <li>70% of mentees say the programme strengthens their desire to pursue a governance career</li>
<li>74% of mentees that responded were successful in obtaining governance roles following completion of the programme</li>
<li>60% of mentees agree the programme meets the objectives of enhancing governance knowledge and adding to the diversity of the director pool</li>
<li>47% agree the programme makes board-ready talent more visible, and increases their understanding of how large company and listed boards work.</li>
</ul>
<p>Other outcomes of the programme include confidence building, providing a ‘reality check’, helping to advance mentees’ executive careers, and connecting with others/networking.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Emerging Director Award</h3>
    <p>The IoD is committed to enhancing the governance career of those who have a desire to grow their governance knowledge and skills. Every year, branches present the Emerging Director Award to an individual who is able to demonstrate leadership, integrity and enterprise in their career. Winners each receive mentoring from an experienced director, between $1,500 and $4,000 toward professional development, and a one-year membership with the Institute of Directors. The 2018 recipients were:</p>
<ul>
<li>Auckland – Nagaja Sanatkumar</li>
<li>Waikato – Carla Muller</li>
<li>Waikato Disability Sector award – Sarah Verran</li>
<li>Bay of Plenty – Jana Rangooni</li>
<li>Taranaki – Joe Hanita</li>
<li>Wellington – Shaun Twaddle</li>
<li>Canterbury – Hannah Doney, Kathryn Ruge</li>
<li>Nelson Marlborough – Manoli Aerakis</li>
<li>Otago Southland – Desiree Williams</li>
</ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Course development </h3>
    <p>As part of the IoD’s efforts to further equip directors, we developed nine additional courses under our Director Development programme in 2018.</p>
  </div>
</div>
<div style=padding:20px;></div>
