@import '/../../../styles';

:host {
  position: absolute;
  width: 100%;
  min-height: 75px;
}

div {
  display: flex;
  position: absolute;
  background-color: $brand-blue;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

img {
  padding: 20px;
  max-height: 75px;
}
