@import '../../../styles';

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;

  &.option {
    padding-left: 0;
  }
}

.dropdown {
  float: right;
  min-width: 130px;
}

.option {
  display: none;
  position: absolute;
  z-index: 3;
  background-color: $brand-blue-dark;
}

.dropdown:hover .option {
  display: block;
}

li {
  padding: 10px;
  text-align: center;
  flex-basis: 0;
}
