@import '../../../styles';

/* Display Options */
nav {
  //show hamburger menu with blue translucent background
  color: white;
  background-color: rgba(0, 12, 20, 0.9);
  padding-top: $spacer-sm;
  padding-bottom: $spacer-sm;

  // and hide full menu
  &.navbar {
    dislpay: none;
    background-color: transparent;
  }

  //large device = hide hamburger, show full menu
  @media only screen and (min-width: 768px) {
    &.hamburger-menu {
      display: none;
    }
    &.navbar {
      display: block;
      color: $brand-blue;
      background-color: transparent;
      margin-bottom: $spacer-lg;
      padding-top: 0;
    }
  }
}

/* Color Options */
.homepageNavBar {
  background-color: transparent;

  &.navbar {
    color: white;
  }
}

.bluePageNavBar {
  //large device
  @media only screen and (min-width: 768px) {
    &.navbar {
      background-color: $brand-blue;
      color: white;
    }
  }
}

i {
  padding-left: $spacer-md;
  color: white;
}

button {
  color: white;
  border: none;
  background-color: transparent;
  font-size: $font-size-large;
  font-family: 'IodSansBold';
}
