<div class="row w-100 m-0">
  <ul>
    <li class="dropdown col-2">Who We Are
      <ul class="option">
        <li>Our council</li>
        <li>Committees</li>
        <li>Our branch network</li>
        <li>Our members</li>
      </ul>
    </li>

    <li class="dropdown col-2">
      <a routerLink="/from-the-president" routerLinkActive="active">From the President</a>
    </li>

    <li class="dropdown col-2">
      <a routerLink="/from-the-ceo" routerLinkActive="active">From the CEO</a>
    </li>

    <li class="dropdown col-2">Our Year
      <ul class="option">
        <li>Snapshot of our year</li>
        <li>Thought-leadership and influence</li>
        <li>Raising standards</li>
        <li>Inspire and equip people</li>
        <li>Build engagement across the governance network</li>
        <li>Core enablers</li>
      </ul>
    </li>

    <li class="dropdown col-2">Member Spotlight
      <ul class="option">
        <li>Simon Berry</li>
        <li>Warwick Tauwhare-George</li>
        <li>Laurissa Cooney</li>
        <li>Michele Frey</li>
        <li>Breccan McLeod-Lundy</li>
        <li>Mena Antonio</li>
      </ul>
    </li>

    <li>Download financials</li>
  </ul>
</div>
