<h1 class="nav-title blue">Our Year</h1>
<h2 class="title black">Core enablers</h2>
<div class="growing-underline-on-load"></div>
<div class="row hero-box-image">
  <div class="clipped-box col-6 p-0 d-inline-block">
    <div class="lone-text">
      <p class="block-subtitle blue core-head-quote">In order to deliver on our strategic priorities we recognise the importance of ensuring our financial sustainability, staying in line with technology and its rapid development, and equipping and inspiring our people to deliver to our members.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Financial sustainability</h3>
    <p>2018 was a year for consolidation where we continued to build our reserves to meet members’ current and longer-term needs. Our core services remained largely unchanged but more member-centric. Some of our reserves have been identified for our digital development and a refresh of our Wellington premises, after being in the current premises for nine years. Our end-goal is to ensure our members feel supported to excel in their governance roles and contribute to building an even better New Zealand. </p>
<p>Our surplus before taxation for the year ended 31 December 2018 was $0.6m which will allow us to invest for the future needs of our members.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Technology</h3>
    <p>Keeping abreast of a rapidly changing digital world is essential for us to create a more personalised and engaging experience for our members. We continued to work on a digital transformation project started in 2016, focusing on a major overhaul of our website, data management and finance system, and will be going live in the second half of 2019. </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">People</h3>
    <p>In 2017 we undertook an organisational review and created two new general manager roles – GM Members and GM Brand, Marketing and Communications. These roles enabled us to bring value to our members, build our profile and anticipate future needs. </p>
<p>We are proud of our IoD team and their commitment to serve our members. Our team ensures we can continue to deliver our strategic goals and support a growing membership. </p>
  </div>
</div>
<div style=padding:20px;></div>
