.growing-underline-on-load {
  animation: inspire 5s forwards;
  @keyframes inspire {
    from { width: 0; }
    to { width: 250px; }
  }
}

.hero-box-image {
  background-image: url('/../../../assets/11_Build engagement/build-hero.svg');
}
