<app-faces-of-governance-template
  fullname='BRECCAN MCLEOD-LUNDY'
  firstname='Breccan'
  middlename='McLeod-'
  lastname='Lundy'
  quote='“In the same way that everyone should be able to read a balance sheet, everyone should have a basic sense of what makes sense when it comes technology.”'
  paraone='Breccan McLeod-Lundy is the Founder and CEO of Wellington-based tech company Ackama. Finishing university at 18 with a BA Philosophy (Hons) degree from the University of Canterbury, Breccan had difficulty finding work because of his age so he started his own business. He later landed a job as a developer but after a couple of years, decided to go out again on his own to found what is now Ackama, which is now operating both in New Zealand and Australia. '
  paratwo='A technologist, Breccan recently became a Chartered Member of the Institute of Directors. He believes being a Chartered Member is a way to show their organisation takes governance seriously.'
  parathree='In an age of technological disruptions, Breccan believes a broadening of technology skills is important for all directors. In the same way that everyone should be able to read a balance sheet, everyone should have a basic sense of what makes sense when it comes technology.'
  parafour='For Breccan, the best part of being a member of IoD is hearing experienced directors share the kind of stories they can’t or won’t share in public. The best advice he has received as director? Keep asking questions.'
  image='/../../assets/Faces/Breccan-hero.png'
  namecolor='white'
  ></app-faces-of-governance-template>
<div style=padding:20px;></div>
