<app-faces-of-governance-template
  fullname='LAURISSA COONEY'
  firstname='Laurissa'
  lastname='Cooney'
  quote='“The ability to take both a holistic, strategic view, and knowing when to seek further information or expertise, will be important as a director.”'
  paraone='Māori women and younger voices are few and far between around board tables. Laurissa Cooney is committed to blaze that trail for others to follow. The proud mother of four was the Institute of Directors’ Emerging Director recipient for the Bay of Plenty Branch in 2017. '
  paratwo='She is an independent director on the Audit & Risk Committee of Ngā Tāngata Tiaki Trust, a post-Treaty settlement entity in Whanganui, and on the Audit & Risk Committee of Te Ātihau Whanganui Incorporation, a Māori-owned farming company based at the foothills of Matua te Mana, Mt Ruapehu. Laurissa also sits on the boards of Tourism Bay of Plenty and of Ngāi Tai ki Tāmaki, a post-Treaty settlement entity based in Auckland.'
  parathree='For Laurissa, being clear about her values is paramount as a director. Given the changing context of governance, she believes the ability to take both a holistic, strategic view, and knowing when to seek further information or expertise, will be important as a director.'
  parafour='Laurissa says the cutting-edge professional development support, members’ forums, the annual conference and the talented, interesting people she meets are some of the things she enjoys best about being a member of the IoD.'
  image='/../../assets/Faces/Laurissa-Cooney-hero.png'
  namecolor='white'
  ></app-faces-of-governance-template>
<div style=padding:20px;></div>
