<div class="homepage-content text-center">
  <img src='/../../assets/1_homepage/IoD_logo_rev.svg' alt='Institute of Directors' class="logo"/>
  <h1 class="text-center white subheader">Annual Report <span class="subtitle year" role="presentation">2018</span></h1>
  <h2 class="text-center title white">
    <span>Gearing up </span>
    <span class="title-it">for the </span>
    <span>future</span>
  </h2>
    <img src='/../../assets/1_homepage/homepage-triangle.svg' alt='visual decoration' class="triangle"/>
</div>
