.hover-underline {
  @media only screen and (min-width: 768px) {
    text-decoration: none;
    transition: .3s all linear;
    position: relative;
    padding: .5em 0;

    &:before, &:after {
      content: "";
      height: 1px;
      width: 0%;
      background: $brand-blue;
      position: absolute;
      bottom: 0;
      transition: .2s all linear;
      margin: auto;
      left: 0;
      right: 0;
    }

    &:hover {
      color: $brand-blue;
      &:before, &:after {
        width: 60%;
      }
      &:after {
        right: 0%;
      }
    }
  }
}
