@import 'custom-variables';

.faces-of-governance-hero {
  max-width: 100%;
  height: 400px;
}

.faces-of-governance-name {
  position: absolute;
  top: 175px;
  left: 15%;
  max-width: 20%;
  z-index: 3;
  font-family: 'IodSerif', serif;
}

.faces-of-governance-image {
  position: relative;
  padding: 0;
  object-fit: cover;
}

.faces-of-governance-details {
  padding-top: $spacer-sm;
  padding-bottom: $spacer-sm;
}

.faces-of-governance-quote-box {
  background-image: url('/../assets/13_Simon Berry/quote-box.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 315px;
  display: flex;
  align-items: center;

  > div {
    padding: 0 $spacer-lg;
  }
}

.faces-of-governance-quote-text:before,
.faces-of-governance-quote-text:after {
  content:'';
  display: inline-block;
  width: 40px;
  height: 5px;
  border-top: 1px solid black;
  vertical-align: middle;
}

.faces-of-governance-description {
  margin: auto;
}
