@import 'custom-variables';

.clipped-box {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 325px;
  margin-bottom: $spacer-sm !important;

  h2 {
    margin-bottom: $spacer-sm;
    @media only screen and (min-width: 992px) {
      margin-bottom: $spacer-lg;
    }
  }

  > div {
    padding: $spacer-lg;
  }

  > div.lone-text {
    display: flex;
    height: 100%;
    margin-top: $spacer-md;
    align-items: center;
  }
}

.hero-box-image {
  background-size: cover;
  margin-bottom: $spacer-sm !important;
}

.grey-box-left {
  background-image: url('/../assets/2_Our council/Our-council_greybox.svg');
}

.grey-box-right {
  background-image: url('/../assets/2_Our council/Our-council_greybox.svg');
}

.blue-box-right {
  background-image: url('/../assets/2_Our council/Our-council_bluebox.svg');
}

.blue-box-left {
  background-image: url('/../assets/2_Our council/Our-council_bluebox.svg');
}
