@import 'custom-variables';

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: $font-size-2x-large;
  margin-bottom: $spacer-lg;
}

.title {
  font-family: 'IodSerif', serif;
}

.title-it {
  font-family: 'IodSerifMedIt', serif;
}

.subtitle {
  font-family: 'IodSans', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-small;
}

.block-subtitle {
  font-family: 'IodSerif', serif;
  color: $brand-blue;
  // $mobile-and-below
  font-size: $font-size-medium;
  // $portrait-tablet-and-above
  @media only screen and (min-width: 600px) {
    font-size: $font-size-medium;
  }
  // $desktop-and-above
  @media only screen and (min-width: 992px) {
    font-size: $font-size-x-large;
  }
}

.nav-title {
  font-family: 'IodSansBold', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-x-small;
}

.nav-subtitle {
  font-family: 'IodSansBold';
  font-size: $font-size-x-small;
  color: white;
  text-transform: none;
  & li:hover {
    color: $brand-blue-light;
  }
  @media only screen and (min-width: 768px) {
    font-family: 'IodSansLight';
  }
}

.body-title {
  font-family: 'IodSansBold', sans-serif;
  font-size: inherit;
}

.small-body-text {
  font-family: 'IodSansLight', sans-serif;
  font-size: $font-size-x-small;
}

.caption {
  font-family: 'IodSerifRegIt', serif;
  font-size: $font-size-small;
  margin: auto;
  margin-bottom: $spacer-sm;
  text-align: center;
}

.long-underline {
  border-bottom: 1px solid $brand-blue;
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: $brand-blue;
}

/* Graph fonts */
.graph-title {
  font-family: 'IodSerifMed', serif;
  font-size: $font-size-2x-large;
}

.graph-text {
  font-family: 'IodSans', sans-serif;
}

.graph-text-title {
  font-family: 'IodSansMed', sans-serif;
}

.graph-number {
  font-family: 'IodSansBold', sans-serif;
}
