<h1 class="nav-title blue">Our Year</h1>
<h2 class="title black">IoD's corporate <br> governance focus</h2>
<div class="growing-underline-on-load"></div>
<div class="row hero-box-image">
  <div class="clipped-box col-6 p-0 d-inline-block">
    <div class="lone-text">
      <p class="block-subtitle blue gov-head-quote">In our 2017 Annual Report we began to provide more information regarding our performance on corporate governance matters that are important to the IoD. In this year’s report we continue to report on some key elements that form part of our own organisation’s corporate governance.</p>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Ethical behaviour</h3>
    <p>Ethical behaviour has a key role in setting the tone, standards and values of an organisation and in 2018 IoD had a strong focus on this topic.</p>
    <ul>
      <li>Our <i>What Matters</i> ethics theme provided relevant information for IoD members and staff on ethics and culture and was provided via a range of channels including an online course, webinar and events around New Zealand.</li>
      <li>We produced three <i>DirectorsBriefs</i>, available to staff and members, relevant to ethical behaviour and corporate culture. These were on the subject of sexual harassment, whistleblowing and stakeholder engagement. </li>
      <li>Our Council Committee and IoD Ltd Board members all adhere to the <i>Code of Practice for Directors</i> and employees sign up to the <i>Staff Code of Conduct</i>. </li>
    </ul>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Health and safety</h3>
    <p>We are committed to creating a strong health and safety awareness culture at IoD. We maintain an active approach to risk management, and risks are identified and reported to our Health and Safety Committee, and Council. </p>
    <ul>
      <li>IoD has two separate health and safety committees – a Council subcommittee and a staff committee. The staff committee is responsible for reviewing and managing health and safety risks on a regular basis.</li>
      <li>IoD also has a Wellness Committee run by staff that identifies opportunities for team building and promoting positive wellness in the workplace. Activities in 2018 included winter illness packs, fun-run participation, lunch time walking groups and staff functions. </li>
    </ul>
    <p>An external health and safety expert was also engaged to ensure we are compliant with best practice.</p>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Risk management</h3>
    <p>IoD maintains an active approach to risk management and risks are identified and reported to our Audit and Risk Sub-committee and Council. As an organisation, our leadership team review and manage our own risks on a regular basis.</p>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Sustainability</h3>
    <p>We have recently begun to focus on sustainability and like many small to medium businesses we are keen to continue building our focus in this area. In 2018 we:</p>
    <ul>
      <li>started to plan our digital transformation to help us build a more sustainable approach to communication and servicing our members. We started an audit to look at the range of materials and information we create with the aim of looking for ways to reduce our footprint</li>
      <li>continued to publish <i>BoardRoom</i> on paper that is sustainably sourced and produced, and meets international standards</li>
      <li>utilised video conferencing technology for an increasing number of meetings, reducing our airline travel requirements</li>
      <li>looked to procure products such as copier paper and kitchen supplies from sustainable origins.</li>
    </ul>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Stakeholder engagement</h3>
    <p>The IoD actively engages with members and other stakeholders who play an essential role in providing feedback on the quality and relevance of our events, courses, resources and advocacy. Some highlights for 2018 follow.</p>
    <ul>
      <li>We ran our staff survey to gauge the current sentiment of employees at IoD. We also ran our first all-of-staff event which provided our people with the opportunity to share new thinking, plan for the future and get important cross-organisational thinking on a range of important elements for our future.</li>
      <li>REM reporting: it is important that organisations like IoD provide meaningful, fullsome information in their reporting. For the first time this year we have disclosed CEO and Leadership Team REM via approved salary bands. We see this as a positive part of increasing transparency.</li>
      <li>We released our annual <i>Director Sentiment Survey</i> in November.</li>
      <li>GNDI Director Survey: the IoD is a founding member of the Global Network of Director Institutes (GNDI), an association of sovereign state director organisations that are recognised for their pre-eminence in board and director development globally. This year IoD New Zealand was the driver of the first global survey of directors and the resulting report.</li>
      <li>Held 215 branch events.</li>
      <li>We developed and maintained key relationships with a number of stakeholders influential in the policy and business sectors and developed a stakeholder engagement strategy to ensure that we have an organisational level approach to keeping our engagement relevant and effective.</li>
    </ul>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-6 pl-0">
    <h3 class="body-title underline black">Diversity</h3>
    <p>Diversity of thought and inclusion continues to be an important issue for IoD. In 2018 we continued to champion diversity in the following ways:</p>
    <ul>
      <li>our Mentoring for Diversity and Future Directors programmes helped to create a pipeline that is diverse and representative of a broad range of skills, age, ethnicities, gender and experience</li>
      <li>our Emerging Director Awards also help build diversity and recognise emerging talent. </li>
    </ul>
  </div>
  <div class="col-md-6 p-0">
    <div class="clipped-box blue-box-right white">
      <div class="row">
        <div class="col-4 pl-0 m-0">
          <p class="body-title">The makeup of our Council, Board and Employees are as follows:</p>
        </div>
        <div class="col-8 p-0 m-0">
          <ul class="body-title">
            <li>
              <div class="row">
                <p class="col-4 title number">45%</p>
                <p class="col">of our Council is female</p>
              </div>
            </li>
            <li>
              <div class="row">
                <p class="col-4 title number">71%</p>
                <p class="col">of our leadership team is female</p>
              </div>
            </li>
            <li>
              <div class="row">
                <p class="col-4 title number">78%</p>
                <p class="col">of our staff is female</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div style=padding:10px;></div>
