<h1 class="nav-title blue">Our Year</h1>
<h2 class="title black">IoD's corporate governance focus</h2>
<div class="growing-underline-on-load"></div>
<div class="row hero-box-image">
  <div class="clipped-box col-6 p-0 d-inline-block">
    <div class="lone-text">
      <p class="block-subtitle blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Ethical behaviour</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <ul>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
    </ul>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Health and Safety</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <ul>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Risk Management</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Sustainability</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <ul>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
    </ul>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Stakeholder engagement</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <ul>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
    </ul>
  </div>
</div>
<div class="row mb-2">
  <div class="col-md-6 pl-0">
    <h3 class="body-title underline black">Diversity</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <ul>
      <li>asdf asdf</li>
      <li>asdf asdf</li>
    </ul>
  </div>
  <div class="col-md-6 p-0">
    <div class="clipped-box blue-box-right white">
      <div class="row">
        <div class="col-4 pl-0 m-0">
          <p class="body-title">The makeup of our Council, Board and Employees are as follows:</p>
        </div>
        <div class="col-8 p-0 m-0">
          <ul class="body-title">
            <li>
              <div class="row">
                <p class="col-4 title number">45%</p>
                <p class="col">of our Council is female</p>
              </div>
            </li>
            <li>
              <div class="row">
                <p class="col-4 title number">71%</p>
                <p class="col">of our leadership team is female</p>
              </div>
            </li>
            <li>
              <div class="row">
                <p class="col-4 title number">78%</p>
                <p class="col">of our staff is female</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
