@import '/../../../../styles';

.growing-underline-on-load {
  animation: engagement 4s forwards;
  @keyframes engagement {
    from { width: 0; }
    to { width: 310px; }
  }

  @media only screen and (min-width: 600px) {
    @keyframes engagement {
      from { width: 0; }
      to { width: 480px; }
    }
  }

  @media only screen and (min-width: 768px) {
    @keyframes engagement {
      from { width: 0; }
      to { width: 580px; }
    }
  }
}

.hero-box-image {
  background-image: url('/../../../assets/12_IOD corp focus/corp-focus-hero.svg');
}

.clipped-box {
  min-height: unset;

  .row {
    align-items: center;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      margin-bottom: 12px;
      border-bottom: 1px white solid;
    }

    li:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    .number {
      display: inline-block;
      font-size: $font-size-x-large;
    }
  }
}
