@import '/../../../../styles';

.growing-underline-on-load {
  animation: engagement 4s forwards;
  @keyframes engagement {
    from { width: 0; }
    to { width: 295px; }
  }

  @media only screen and (min-width: 600px) {
    @keyframes engagement {
      from { width: 0; }
      to { width: 295px; }
    }
  }

  @media only screen and (min-width: 770px) {
    @keyframes engagement {
      from { width: 0; }
      to { width: 295px; }
    }
  }
}

.hero-box-image {
  background-image: url('/../../../assets/12_IOD corp focus/corp-focus-hero.png');
  //height: 480px;

  @media only screen and (max-width: 600px) {
  height: auto;
  }
  }

  .gov-head-quote {
   //padding-bottom:30px;
   @media only screen and (max-width: 600px) {
   font-size:1.2em;
   }
  }

.lone-text {
  @media only screen and (max-width: 600px) {
    // adds margin to make centered
      margin-left: 50% !important;
    }
}

.clipped-box {
  min-height: unset;

  .row {
    align-items: center;

    @media only screen and (max-width: 1000px) {
      padding:10px;
    }

    @media only screen and (max-width: 500px) {
      padding: 0px;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      margin-bottom: 12px;
      border-bottom: 1px white solid;
    }

    li:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }

    .number {
      display: inline-block;
      font-size: $font-size-x-large;
    }
  }
}
