<app-faces-of-governance-template
  fullname='SIMON BERRY'
  firstname='Simon'
  lastname='Berry'
  quote='“Change is constant and the skill to be able to read, adapt and most importantly benefit from the change is critical to successful governance.”'
  paraone='Simon Berry CMInstD is the Managing Director of award-winning and internationally-acclaimed cheese company Whitestone Cheese. A self-confessed skiing addict, Simon left a budding career as a finance analyst and accountant to help run his family’s Oamaru-based business. He has since overseen the company’s expansion internationally bringing New Zealand’s Favourite Cheese Company (2018 NZ Champions of Cheese Awards) to the world and achieving business success. '
  paratwo='Asked what skills will be important for directors, given the increasingly more complex governance environment, Simon says “Keeping ahead of disruptions is key – a successful director must be well informed and always willing to learn about new trends, innovations, opportunities and threats”.'
  parathree='Simon values his interaction with fellow members of the Institute. “The ‘we are all in this together’ mentality that shines through enables sharing among fellow directors,” according to Simon. “We all want each other to succeed and with the help of the IoD network this can be achieved,” he adds.'
  image='/../../assets/Faces/Simon-Berry-hero.png'
  namecolor='blue'
  ></app-faces-of-governance-template>
  <div style=padding:20px;></div>
