<app-faces-of-governance-template
  fullname='MENA ANTONIO'
  firstname='Mena'
  lastname='Antonio'
  quote='“It’s also about advancing gender and ethnic diversity and being better able to support my Pasifika community where governance is still a developing area, and regional New Zealand where governance opportunities can be overlooked.”'
  paraone='For Mena Antonio CMInstD, investing in herself to become a Chartered Member of the Institute of Directors is not just about professional development, it’s also about advancing diversity and giving back to her Pasifika community.'
  paratwo='Mena is currently the deputy chair of Trust House Foundation and director at Trust House Limited, a community-owned company based in the Wairarapa operating a range of businesses in the community housing, retail, hospitality, and hydro-electric power generation industries.'
  parathree='“I’m a life-long learner and have a real passion for education,” says Mena after completing the requirements to become a Chartered Member of the Institute.'
  parafour='Asked why she wanted to become a Chartered Member of the Institute, Mena says continuous improvement throughout her professional life has always been important for her.'
  parafive='Given New Zealand’s population is becoming increasingly diverse, Mena says it is really important that boards and decision makers who are governing reflect that diversity.'
  image='/../../assets/Faces/Mena-hero.png'
  namecolor='blue'
  ></app-faces-of-governance-template>
<div style=padding:20px;></div>
