<h1 class="nav-title blue">Who We Are</h1>
<h2 class="title black">Committees</h2>
<div class="row">
  <div class="col-4 pl-0 mr-5">
    <h3 class="body-title underline black">Institute of Directors' <br />Sub Committee members</h3>
    <h4 class="body-title blue">Audit and Risk Committee</h4>
    <ul>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
    </ul>
    <h4 class="body-title blue">Audit and Risk Committee</h4>
    <ul>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
    </ul>
    <h4 class="body-title blue">Audit and Risk Committee</h4>
    <ul>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
    </ul>
    <h4 class="body-title blue">Audit and Risk Committee</h4>
    <ul>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
    </ul>
    <h4 class="body-title blue">Audit and Risk Committee</h4>
    <ul>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
    </ul>
  </div>
  <div class="col-4">
    <h3 class="body-title black underline">Commercial Board</h3>
    <p>Lorem</p>
    <p>Lorem</p>
    <ul>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
      <li>Name</li>
    </ul>
  </div>
</div>
