<h1 class="nav-title blue">Our Year</h1>
<h2 class="title black">
  Build engagement across <br />the governance network
</h2>
<div class="growing-underline-on-load"></div>
<div class="row hero-box-image">
  <div class="clipped-box col-6 p-0 d-inline-block">
    <div class="lone-text">
      <p class="block-subtitle blue build-head-quote">
        One of the key benefits of membership is the opportunity to engage with, discuss issues with and learn from other leading directors.
      </p>
    </div>
  </div>
</div>
<div class="row" style="padding-top: 10px">
  <div class="col-md-12 p-0">
    <p>We continued to see member numbers increase during 2018. Total membership reached 9,071, up from 8,686 a year earlier.</p>
    <p>
      At 4.4%, growth in 2018 was lower than 2017 (8%), but it continued a trend
      of increasing engagement with New Zealand’s directors that has seen our
      membership more than double over the past 10 years (growth of 104% since
      2008).
    </p>
    <p>
      Membership growth is not an end in itself for the IoD – our focus is on
      supporting the members we have to practise governance as a profession –
      but it is a strong indicator that directors see value in what we do. In
      fact we expect growth to slow as we lift standards through Continuing
      Professional Development and would view this as a good outcome.
    </p>
    <p>
      One of the key benefits of membership is the opportunity to engage with,
      discuss issues with and learn from other leading directors. Our events not
      only provide formal training and guidance but also opportunities for
      members to access professional support, refine concepts of best practice
      and develop their governance skill set through engagement with each other.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Branch network sets new records</h3>
    <p>
      Branches and branch events continued to underpin membership activity in
      2018 with more events, and more members taking advantage of what was on
      offer, than ever before. The frequency, breadth and variety of
      branch-based events grew as did the number of locations in which they
      were held.
    </p>
    <p>
      The total number of branch events held in 2018 was 215, compared with 188
      a year earlier, an increase of 14%. Total attendance at IoD branch events
      was up slightly at 10,013, compared with 9,942 a year earlier.
    </p>
    <p>
      In order to ensure branch events were available to as many of our
      widely-dispersed membership as possible, events were held in 29 different
      localities in 2018.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Event highlights</h3>
    <p>
      Satisfaction with our flagship <i>Leading Edge</i> annual conference was
      95%, a small rise from a strong result of 93% in 2017. The conference this
      year included leading business thinkers from around the world including
      Blockchain Trust Director Tomicah Tillemann (US), Laboratory for Animate
      Technologies Director Dr Mark Sagar (NZ) and New Economics Foundation
      Fellow Ann Pettifor (UK).
    </p>
    <p>
      The annual conference continues to be popular with a range of members,
      attracting attendees from government, SMEs, private, publicly listed and
      not-for-profit organisations.
    </p>
    <p>
      Of surveyed attendees, 42% said <i>Leading Edge</i> exceeded their
      expectations.
    </p>
    <p>
      The 2018 event also saw the conference app increase in popularity, with
      87% of attendees downloading it.
    </p>
    <p>
      Our Chief Executive Kirsten Patterson spoke at a variety of high-profile
      governance events during the year. These appearances help build IoD’s
      footprint and network.
    </p>
    <p>
      Among the events she spoke at were a PwC International Women’s Day event,
      the NetZero NZ Emissions Workshop, the Diverse Thinking Governance Summit,
      the Rugby Women in Governance conference and the Chartered Accountants
      ANZ’s Pathways to Directorship event.
    </p>
    <p>
      Kirsten also represented the IoD at events including the National
      Association of Company Directors Global Leaders’ Summit, Deloitte Top 200
      Awards, Diversity Awards Gala, MinterEllisonRuddWatts Corporate Governance
      Symposium, and Harnessing the Power of Business: Tackling Modern Slavery
      and Human Trafficking Forum.
    </p>
    <p>
      Highlights from our branch event calendar included health and safety
      forums, which attracted more than 700 attendees. Health and safety is now
      firmly entrenched as a director responsibility, and we were fortunate
      enough to have the support of the Business Leaders Health and Safety Forum
      to deliver the events, led by WorkSafe NZ CEO Nicole Rosie.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 p-0">
    <h3 class="body-title underline black">Director services</h3>
    <p>
      Another strand of our engagement work is helping boards to tap into the
      pool of talent that is our membership through our DirectorSearch and
      DirectorVacancies services.
    </p>
    <p>
      DirectorSearch activity experienced a small uplift in 2018 with 26
      assignments, compared with 23 in 2017. In addition, DirectorVacancies
      client numbers increased by 3.7%.
    </p>
  </div>
</div>
<div style="padding:10px;"></div>
