.growing-underline-on-load {
  animation: engagement 4s forwards;
  @keyframes engagement {
    from { width: 0; }
    to { width: 300px; }
  }

  @media only screen and (min-width: 992px) {
    @keyframes engagement {
      from { width: 0; }
      to { width: 410px; }
    }
  }
}

.lone-text {
  @media only screen and (max-width: 600px) {
    // margin to center on mobile
    margin-left: 50% !important;
  }
}

.hero-box-image {
  background-image: url('/../../../assets/11_Build engagement/build-hero.png');
  height: 480px;

  @media only screen and (max-width: 600px) {
  height: auto;
  }
  }

  .build-head-quote {
   padding-bottom:30px;
   @media only screen and (max-width: 600px) {
   font-size:1.3em;
   }
  }
