.growing-underline-on-load {
  animation: thoughtleadership 5s forwards;
  @keyframes thoughtleadership {
    from { width: 0; }
    to { width: 590px; }
  }
}

.hero-box-image {
  background-image: url('/../../../assets/8_Thought leadership/Thought-leadership-hero.svg');
}

img {
  max-width: 325px;
}
