<h1 class="nav-title blue">Our Year</h1>
<h2 class="title black">Thought-leadership <br>and influence</h2>
<div class="growing-underline-on-load"></div>
<div class="row hero-box-image">
  <div class="clipped-box col-6 p-0 d-inline-block">
    <div class="lone-text">
      <p class="block-subtitle blue thought-head-quote">We advocate on behalf of our members to promote excellence in governance. Our advocacy is focused on issues, regulation or policy decisions that will affect directors and impact New Zealand society. </p>
    </div>
  </div>
</div>
<div>
  <p>In 2018, there were a significant number of policy and legislative reform proposals affecting the role of directors and governance across many sectors. We made 17 submissions to Government in 2018, up from 8 in 2017, on a wide range of issues including: </p>
  <ul>
    <li>to the Tax Working Group and NZX on the review of the listing rules and market structure</li>
    <li>on the Trusts Bill, Privacy Bill and a bill criminalising cartels</li>
    <li>on policy proposals to government departments including on the publication of directors’ residential addresses, beneficial ownership, the policy behind the Zero Carbon Bill, whistleblowing and state sector reforms.</li>
  </ul>
  <p>A full list on our website <a href="www.iod.org.nz" class="body-title black">www.iod.org.nz</a></p>
  <h3 class="body-title underline black">Keeping directors updated on important issues</h3>
  <p>To keep members informed on emerging issues we published seven <i>DirectorBriefs</i> on matters including sexual harassment, whistleblowing and stakeholder engagement. We also issued two <i>Governance Updates</i> to keep members up-to-date on legislative and policy developments.</p>
  <p>We also published our fifth annual <i>Director Sentiment Survey</i> and the third in partnership with ASB Bank. This survey identifies the issues and challenges that are on the radar for directors as they work with their organisations. This year some of the key forces noted by directors were business and economic confidence, workplace culture, environmental and ethical issues and digital leadership and capability. The survey not only provides a good overview for our members but it also created strong media interest. We believe that these insights are key to building understanding of the importance of governance and directors as they work with organisations and businesses to create a strong, sustainable and vibrant future for New Zealand.</p>
  <p>In response to a gap in comprehensive cybersecurity reporting we developed a cybersecurity guide, <i>Reporting Cybersecurity to Boards</i>, in partnership with Aura Information Security. This guide provides guiding principles for reporting and sample dashboards.</p>
  <h3 class="body-title underline black">Global perspectives</h3>
  <p>We initiated and led the inaugural <i>Global Director Survey,</i>, carried out in partnership with the Global Network of Director Institutes (GNDI). The GNDI represents more than 130,000 directors in 21 countries. The survey provides insights into what is top of mind for directors around the world, focusing on key economic, business, social and governance issues. The survey was responded to by 365 New Zealand directors, out of a total of 2,159 directors from 17 participating countries.</p>
  <p>We led the international communications planning and achieved media coverage around the world and in languages including Arabic, Chinese, English and Portuguese.</p>
    <div class="row">
    <div class="col-sm-6 p-0">
      <h3 class="body-title underline black">IoD in the media</h3>
      <p>We issued a total of 25 media statements during the year, some in response to issues of the day – which helped promote good governance – and others promoting our reports. In November, we began to markedly increase our social media engagement across our social media channels, also spreading the influence of good governance. We use surveys and resources to engage with the media particularly where we feel we can provide good information or guidance for the greater governance community. We also try to engage with media to provide advice and insight into the roles of directors and the importance of best-practice governance in order to build visibility and relevance for the positive work our members do for their communities and for New Zealand as a whole.</p>
        <p>We published six issues of our <i>BoardRoom</i> magazine for members. <i>BoardRoom</i> is designed to inform and stimulate discussion in the director community. It is well-regarded and supported by corporate advertisers. It builds our relationship with our members through inspiring and educating content that has a focus on issues of the day including our three annual <i>What Matters</i> themes.</p>
    </div>
    <div class="col-sm-6 p-0 mb-3">
      <img src='/../../../assets/8_Thought leadership/Boardroom.svg' alt='further statistics displayed on a map' />
    </div>
  </div>
</div>
<div style=padding:20px;></div>
