<app-faces-of-governance-template
  fullname='WARWICK TAUWHARE-GEORGE'
  firstname='Warwick'
  middlename='Tauwhare-'
  lastname='George'
  quote='“It’s important to continually strive to improve yourself.”'
  paraone='If you ask Warwick Tauwhare-George CMInstD, being comfortable in being vulnerable is a skill directors need given the changing and increasingly more challenging governance landscape. It’s also a principle he has lived by throughout his life.'
  paratwo= 'Warwick, who recently became a Chartered Member of the Institute of Directors, is an accomplished director and sits on the boards of Port Nicholson Fisheries, Ngāi Tahu Farming and Ngamotu Hotels. He is also the Chief Executive of Parininihi ki Waitotara, a Taranaki-based Māori company with $400 million in assets and looking after the interests of over 10,000 shareholders.'
  parathree='While admitting it may sound a bit of a cliché, Warwick confesses his great passion is his family — his wife and three daughters.  Extremely busy with his director portfolio and CEO role, he makes sure he spends as much time as possible with his whanau.
Warwick said he pursued being a Chartered Member to continue to grow both as a person and director.'
  parafour='For him it shows commitment to shareholders and respect for their interests.'
  image='/../../assets/Faces/Warwick-hero.png'
  namecolor='white'
  ></app-faces-of-governance-template>
<div style=padding:20px;></div>
