@import '/../styles';

:host {
    display: block;
    height: 100%;
}

/* background images/colours by URL */
.greyBackground {
  background-color: $brand-grey;
}

.blueBackground {
  background-color: $brand-blue;
}

.backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homeBackgroundImage {
  background-color: $brand-blue;
  background-image: url('/../assets/1_homepage/Background_image.png');
  height: 100%;
}

.committeesBackgroundImage {
  background-image: url('/../assets/committees-background.png');
}

.membersBackgroundImage {
  background: url('/../assets/4_Our members/Our-members-background-image.svg');
}

.snapshotBackgroundImage {
  background-image: url('/../assets/7_snapshot/snapshot_background-image.png');
  background-position: bottom;
}

.raisingStandardsBackgroundImage {
  background-image: url('/../assets/9_raising standards/Raising-standards-background.png');
  background-size: unset;
  background-position: bottom;
}
