@import '/../../../../styles.scss';

.growing-underline-on-load {
  animation: ourmembers 4s forwards;
  @keyframes ourmembers {
    from { width: 0; }
    to { width: 230px; }
  }
}

.ticker-number {
  white-space: nowrap;
  font-size: 7rem;
  font-family: sans-serif;
  line-height: normal;
  letter-spacing: 0.035ch;
  font-weight: 500;
}

.ticker-subtitle:before {
  content: '';
  display: inline-block;
  background-image: url('/../../../assets/4_Our members/Our-members-blue-triangle.svg');
  width: 50px;
  height: 25px;
  margin-right: 10px;
}

img {
  height: 250px;
  margin-bottom: $spacer-lg;
  @media only screen and (max-width: 1000px) {
    height: 200px;
    }
  @media only screen and (max-width: 600px) {
    height: 150px;
    }
}
