<h1 class="nav-title blue">Who We Are</h1>
<h2 class="title black">Our Members</h2>
<div class="growing-underline-on-load"></div>
<div class="row">
  <div class="col-md-6 pl-0">
    <p>Our membership has grown to</p>
    <!-- this number is the starting point for the odometer. The final number is set in the .ts file -->
    <p class="title blue ticker-number mb-0 odometer" id="odometer">0</p>
    <p class="ticker-subtitle">up <span class="graph-number blue" role="presentation">4.4%</span> from the previous year</p>
  </div>
  <div class="col-md-6 d-inline-block">
    <div>
      <img src='/../../../assets/4_Our members/By-age.svg' alt='Pie graph of members by age' />
    </div>
    <div>
      <img src='/../../../assets/4_Our members/By-membership-type.svg' alt='Pie graph of members by membership type' />
    </div>
    <div>
      <img src='/../../../assets/4_Our members/By-gender.svg' alt='Pie graph of members by gender' />
    </div>
  </div>
</div>
