<h1 class="nav-title blue">Who We Are</h1>
<h2 class="title black">Our Council</h2>
<div class="row">
  <div class="clipped-box grey-box col-6 p-0 d-inline-block">
    <div>
      <p class="block-subtitle blue">The IoD Council is responsible for overall corporate governance
        and consists of 11 non-executive members. Each year branch committees elect members to represent
        them on the national council. The Council elect the president and vice president annually.</p>
      <p>Council advances the purpose laid out in IoD's Constitution, which is to promote excellence in
        corporate governance, facilitate professional development and enhance the standard and
        effectiveness of directors through information and education on their legal, ethical, financial
        and general rights and responsibilities.</p>
      <p>As examples of the values that we hold as an organisation, Council follows the guidelines on
        conduct outlined in our Charter. All Council and Committee members also commit to engaging in
        continuous professional development to improve their governance practice.</p>
      <p>This year, six meetings of the Council were held. Council positions are voluntary and are not
        remunerated.</p>
    </div>
  </div>
  <div class="clipped-box blue-box col-6 p-0 d-inline-block">
    <div class="text-center white">
      <h3 class="block-subtitle white mb-0">2018 Leadership Team</h3>
      <ul>
        <li>
          <p class="graph-text-title m-0">Full Name</p>
          <p class="small-body-text mb-2">Position this text can be very long</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Full Name</p>
          <p class="small-body-text mb-2">Position this text can be very long</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Full Name</p>
          <p class="small-body-text mb-2">Position this text can be very long</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Full Name</p>
          <p class="small-body-text mb-2">Position this text can be very long</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Full Name</p>
          <p class="small-body-text mb-2">Position this text can be very long</p>
          <p class="small-body-text mb-1">(resigned)</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Full Name</p>
          <p class="small-body-text mb-2">Position this text can be very long</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Full Name</p>
          <p class="small-body-text mb-2">Position this text can be very long</p>
          <p class="small-body-text mb-1">(resigned)</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Full Name</p>
          <p class="small-body-text mb-2">Position this text can be very long</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<h2 class="title black">2018 Council</h2>
<ul class="d-flex flex-wrap">
  <li *ngFor="let councillor of titledCouncillors" class="col-4">
    <img src='{{ councillor.img }}' alt='{{ councillor.fullname }}' class="d-inline-block" />
    <div class="d-inline-block">
      <p class="title blue m-0">{{ councillor.role }}</p>
      <p class="body-title m-0">{{ councillor.fullname }}</p>
      <p>{{ councillor.credentials }}</p>
    </div>
  </li>
</ul>
<ul class="d-flex flex-wrap">
  <li *ngFor="let councillor of councillors" class="col-4">
    <img src='{{ councillor.img }}' alt='{{ councillor.fullname }}' class="d-inline-block" />
    <div class="d-inline-block">
      <p class="body-title m-0">{{ councillor.fullname }}</p>
      <p>{{ councillor.credentials }}</p>
    </div>
  </li>
</ul>
