<h1 class="nav-title blue">Who We Are</h1>
<h2 class="title black">Our Council</h2>
<div class="growing-underline-on-load our-council"></div>
<div class="row">
  <div class="clipped-box greyBackground col-md-6 p-0 d-inline-block">
    <div>
      <p class="block-subtitle blue">The IoD Council is responsible for overall corporate governance and consists of 11 non-executive members. Each year branch committees elect members to represent them on the national council. The Council elects the president and vice president annually.</p>
      <p>Council advances the purpose laid out in IoD’s Constitution, which is to promote excellence in corporate governance, facilitate professional development and enhance the standard and effectiveness of directors through information and education on their legal, ethical, financial and general rights and responsibilities.</p>
      <p>As examples of the values that we hold as an organisation, Council follows the guidelines on conduct outlined in our Charter. All Council and Committee members also commit to engaging in continuous professional development to improve their governance practice.</p>
      <p>This year, six meetings of the Council were held. Council positions are voluntary and are not remunerated.</p></div>
  </div>
  <div class="clipped-box blueBackground col-md-6 p-0 d-inline-block">
    <div class="text-center white pb-0">
      <h3 class="block-subtitle white mb-0">2018 Leadership Team</h3>
      <ul class="unbulleted">
        <li>
          <p class="graph-text-title m-0">Kirsten Patterson</p>
          <p class="mb-3">Chief Executive Officer</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Felicity Caird</p>
          <p class="mb-3">General Manager, <br>
            Governance Leadership Centre</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Chris Fox</p>
          <p class="mb-3">General Manager, Corporate Services</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Nikki Franklin</p>
          <p class="mb-3">General Manager, Members</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Paul Gardner</p>
          <p class="mb-0">Manager, Professional Development</p>
          <p class="mb-3">(resigned December)</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Robbie McDougall</p>
          <p class="mb-3">Delivery Manager</p>
        </li>
        <li>
          <p class="graph-text-title m-0">Sophi Rose</p>
          <p class="mb-1">General Manager, Brand, Marketing <br>
            and Communications</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<h2 class="title black">2018 Council</h2>
<div class="growing-underline-on-load yearcouncil"></div>
<ul class="d-flex flex-wrap unbulleted">
  <li *ngFor="let councillor of titledCouncillors" class="col-md-4">
    <img src='{{ councillor.img }}' alt='{{ councillor.fullname }}' class="d-inline-block" />
    <div class="d-inline-block">
      <p class="title blue m-0">{{ councillor.role }}</p>
      <p class="body-title m-0">{{ councillor.fullname }}</p>
      <p>{{ councillor.credentials }}</p>
    </div>
  </li>
</ul>
<ul class="d-flex flex-wrap unbulleted">
  <li *ngFor="let councillor of councillors" class="col-md-4">
    <img src='{{ councillor.img }}' alt='{{ councillor.fullname }}' class="d-inline-block" />
    <div class="d-inline-block">
      <p class="body-title m-0">{{ councillor.fullname }}</p>
      <p>{{ councillor.credentials }}</p>
    </div>
  </li>
</ul>
<div style="padding-bottom:50px;"></div>
