h3 {
  &::after {
    content:'';
    display: inline-block;
    width: 100%;
    border-top: 1px solid white;
    vertical-align: top;
  }
}

.grey-box {
  background-image: url('/../../../assets/2_Our council/Our-council_greybox.svg');
}

.blue-box {
  background-image: url('/../../../assets/2_Our council/Our-council_bluebox.svg');
}

ul {
  list-style: none;
  padding: 0;
}

img {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  vertical-align: text-bottom;
  margin-right: 12px;
}
