<app-faces-of-governance-template
  fullname='MICHELE FREY'
  firstname='Michele'
  lastname='Frey'
  quote='“	I thought a full week away was a lot but the week flew by, we had a great set of speakers, had plenty of opportunity to put the concepts into practise through some director simulations throughout the week, not to mention the great group I was with for the week.”'
  paraone='For Michele Frey CMInstD, high performance is a mantra both as an athlete and as a director. A triathlete, Michele is heading to Spain in May as part of the New Zealand age group team that will participate in the 2019 Long Distance Triathlon World Championships.'
  paratwo="The 2017 Emerging Director awardee for the Institute of Directors’ Wellington Branch also recently became a Chartered Member of the Institute – a mark of her commitment to be a high performance director. Michele sits on the boards of the New Zealand Recreation Association and Central Districts Cricket and is a Principal Environmental Consultant with Xyst Limited."
  parathree='Michele believes the ability to be agile and open minded yet retain focus on the direction of the organisation are important skills for directors to have given the changing context of governance.'
  parafour='According to Michele, she found taking the IoD Company Directors Course really helpful.'
  image='/../../assets/Faces/Michele-Frey-hero.png'
  namecolor='white'
  ></app-faces-of-governance-template>
<div style=padding:20px;></div>
