@import '/../../../../styles';

.growing-underline-on-load {
  animation: snapshot 4s forwards;
  @keyframes snapshot {
    from { width: 0; }
    to { width: 345px; }
  }
}

p {
  margin-bottom: 0;
}

h3 {
  font-size: $font-size-2x-large !important;
  margin: $spacer-md 0 $spacer-sm 0;
}

/* Header stat */
.stat-block {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  height: 100%;
  background-image: url('/../../../assets/7_snapshot/Blu-double-wide.svg');
}

.row.header-row {
  height: 200px;

  .header-stat {
    padding: $spacer-sm;
    align-items: center;
    text-align: left;
    min-height: 100%;
    flex-wrap: wrap;

    .header-para {

      @media only screen and (max-width: 430px) {
        margin-left: 20%;
        padding-bottom:40%;
      }
    }

    .header-number {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0.9;
      @media only screen and (max-width: 430px) {
        padding-left: 55%;
      }

      .dollar {
        vertical-align: top;
        font-size: 2em;
      }

      .figure {
        font-size: 3em;
      }

      .million {
        font-size: 1.5em;
      }

      &::after {
        content: '';
        width: 1px;
        min-height: 75px;
        display: inline-block;
        background-color: white;
        margin-left: 15px;
      }
    }
  }
}

/* Display w/in row */
.stat-container {
  flex: 1;
  height: 330px;
}

/* Page layout */
.row {
  min-height: 330px;
  margin-bottom: $spacer-sm;
  flex-wrap: wrap;

  &.tall-row {
    min-height: 420px;
  }

  > div {
    height: 100%;
    padding: 0;
    flex: 1;
  }
  > div:nth-child(2) {
    margin: 0 $spacer-sm;
  }

  > div:last-child {
    margin-right: 0;
  }

  &:last-child {
    margin-bottom: 0;

    > div {
      padding-bottom: $spacer-sm;
    }
  }
}

.underline {
  border-bottom: 1px solid black;
}

