<div class="row faces-of-governance-hero">
  <img class="faces-of-governance-image col-12" src='http://www.placepuppy.net/400/250' alt='{{ fullname }}' />
  <h1 class="faces-of-governance-name">
    {{ firstname }}
    {{ middlename }}<br />
    <span role="presentation" class="underline">{{ lastname }}</span></h1>
</div>
<div class="row faces-of-governance-details">
  <div class="faces-of-governance-quote-box d-inline-block col-6">
    <div class="faces-of-governance-quote-text">
      <p class="block-subtitle">{{ quote }}</p>
      <p class="nav-title black">{{ fullname }}</p>
    </div>
  </div>
  <div class="d-inline-block col-6">
    <p>{{ paraone }}</p>
    <p>{{ paratwo }}</p>
    <p>{{ parathree }}</p>
    <p>{{ parafour }}</p>
    <p>{{ parafive }}</p>
  </div>
</div>
