/* Imports */
// @import 'styles/bootstrap-variables';
@import 'styles/custom-variables';
@import 'styles/typography';
@import 'styles/colors';
@import 'styles/header-blocks';
@import 'styles/faces-of-governance';
@import 'styles/global-body-styles';
@import 'styles/animated-underline';

/* Fonts */
@font-face {
  font-family: 'MinionPro';
  src: url('/assets/Fonts/MinionPro-Regular.otf') format("truetype");
}
@font-face {
  font-family: 'IodSansBlack';
  src: url('/assets/Fonts/UntitledSans-Black.otf') format("truetype");
}
@font-face {
  font-family: 'IodSansBold';
  src: url('/assets/Fonts/UntitledSans-Bold.otf') format("truetype");
}
@font-face {
  font-family: 'IodSansLight';
  src: url('/assets/Fonts/UntitledSans-Light.otf') format("truetype");
}
@font-face {
  font-family: 'IodSansLightIt';
  src: url('/assets/Fonts/UntitledSans-LightItalic.otf') format("truetype");
}
@font-face {
  font-family: 'IodSansMed';
  src: url('/assets/Fonts/UntitledSans-Medium.otf') format("truetype");
}
@font-face {
  font-family: 'IodSans';
  src: url('/assets/Fonts/UntitledSans-Regular.otf') format("truetype");
}
@font-face {
  font-family: 'IodSansRegIt';
  src: url('/assets/Fonts/UntitledSans-RegularItalic.otf') format("truetype");
}
@font-face {
  font-family: 'IodSerifBold';
  src: url('/assets/Fonts/UntitledSerif-Bold.otf') format("truetype");
}
@font-face {
  font-family: 'IodSerifMed';
  src: url('/assets/Fonts/UntitledSerif-Medium.otf') format("truetype");
}
@font-face {
  font-family: 'IodSerifMedIt';
  src: url('/assets/Fonts/UntitledSerif-MediumItalic.otf') format("truetype");
}
@font-face {
  font-family: 'IodSerif';
  src: url('/assets/Fonts/UntitledSerif-Regular.otf') format("truetype");
}
@font-face {
  font-family: 'IodSerifRegIt';
  src: url('/assets/Fonts/UntitledSerif-RegularItalic.otf') format("truetype");
}
